/* .toggle{
    position: relative;
    width: 50px;
    height: 100%;
}

.toggle::after{
    content: '';
    background-color: red;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 50%;
    top: 0;
} */
.inpdiv:hover{
    background-color: rgba(212 212 212);
}

.inpdiv:hover .input{
    background-color: rgba(212 212 212);
}

.filterbar{
    z-index: 1;
}

.profilemodal{
    position: relative;
    z-index: 9;
}

/* .profilemodal::after{
    content: '';
    background-color: rgb(229 229 229);
    position: absolute;
    width: 20px;
    left: 75%;
    top: -3%;
    height: 20px;
    transform: rotate(45deg);
} */

.bodycolor{
    background-color: red;
}
